[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "external/VST3SDK"]
	path = external/VST3SDK
	url = https://github.com/steinbergmedia/vst3sdk
